<h1>Our Team</h1>
	<p>This app is lovingly developed and maintained by monkeys living in the East Bay, CA</p>
	
	<p>
		<img src="http://blog.monkey-project.com/wp-content/uploads/2013/01/monkey_news.jpg" alt="working monkeys" class="img-rounded">
	</p>
	
	<p> 
		<button type="button" class="btn btn-primary btn-lg">
		<span class="glyphicon glyphicon-usd"></span>Hire Us</button>
	</p>
		